.contact {
    background: url('../images/contact.jpg') no-repeat center center/cover;
    padding: 100px 20px;
    position: relative;
    text-align: center;
    color: white;
}

.contact::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.contact-container {
    position: relative;
    z-index: 2;
}

.contact h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.contact form {
    display: inline-block;
    max-width: 500px;
    width: 100%;
}

.contact input, .contact textarea {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.contact button {
    padding: 15px 30px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
}

.contact button:hover {
    background-color: #0056b3;
}

/* Media Queries */
@media (max-width: 768px) {
    nav ul {
        display: block;
        text-align: center;
    }

    .project-grid {
        flex-direction: column;
        align-items: center;
    }

    form input, form textarea {
        width: 90%;
    }
}