.home {
    height: 100vh;
    background: url('../images/about.jpg'); /* no-repeat center center/cover */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}
/* 
.home-content h1 {
    font-size: 3em;
    margin-bottom: 10px;
    animation: fadeInDown 1s ease;
}

.home-content p {
    font-size: 1.5em;
    margin-bottom: 20px;
    animation: fadeIn 1.5s ease;
} */

/* .cta-button {
    padding: 15px 30px;
    font-size: 1.2em;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
} */

/* .cta-button:hover {
    background-color: #0056b3;
} */



/* CSS */
.button-58 {
  align-items: center;
  background-color: #06f;
  border: 2px solid #06f;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter,sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-58:focus {
  color: #171e29;
}

.button-58:hover {
  background-color: #3385ff;
  border-color: #3385ff;
  fill: #06f;
}

.button-58:active {
  background-color: #3385ff;
  border-color: #3385ff;
  fill: #06f;
}

@media (min-width: 768px) {
  .button-58 {
    min-width: 170px;
  }
}